/app/netbeansProject/nbproject/private/
/app/nbproject/private/
/app/netbeansProject/proyecto-ismpere-vicrojo-davgome/nbproject/private/
/modelos/ismpere-vicrojo-davgome-modelos.asta.lock
/app/netbeansProject/PracticaDIS/nbproject/private/
/app/netbeansProject/PracticaDIS/build/
/app/netbeansProject/Practica 2/nbproject/private/